.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .title {
    margin-bottom: 1rem;
    color: #282828;
    pointer-events: none;
  }
}

@media (max-width: 599px) {
  .radio-group {
    font-size: 0.8em;
  }
}
