.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  &.size-8 {
    width: 48rem;
  }

  &.size-16 {
    width: 59rem;
  }

  &.size-24 {
    width: 72rem;
  }

  &.size-32 {
    width: 96rem;
  }

  &.blocked {
    pointer-events: none;
  }
}

.end-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rebeccapurple;

  .counter {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    font-size: 3rem;

    .value {
      margin-left: 1rem;
      font-size: 5rem;
      font-weight: 600;
    }
  }

  .start {
    padding: 0.5rem 1rem;
    background: rebeccapurple;
    color: whitesmoke;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    letter-spacing: 0.1rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

@media (max-width: 1060px) {
  .game {
    &.size-24 {
      width: 48rem;
    }

    &.size-32 {
      width: 72rem;
    }
  }
}

@media (max-width: 820px) {
  .game {
    &.size-32 {
      width: 48rem;
    }
  }
}

@media (max-width: 700px) {
  .game {
    &.size-8 {
      width: 20rem;
    }

    &.size-16 {
      width: 40rem;
    }
  }
}

@media (max-width: 440px) {
  .game {
    &.size-16 {
      width: 28rem;
    }

    &.size-24,
    &.size-32 {
      width: 30rem;
    }
  }
}
