.game {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  width: 50%;
  max-width: 50rem;

  &.blocked {
    pointer-events: none;
  }
}

.start-game {
  padding: 0.5rem 1rem;
  background: rebeccapurple;
  color: whitesmoke;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  outline: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }
}

.win {
  position: relative;
  text-transform: uppercase;
  color: rebeccapurple;
}

@media (orientation: portrait) {
  .game {
    grid-template-columns: repeat(auto-fill, 8rem);
    width: 70vmin;
    gap: 1rem;
  }
}
