.card {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  perspective: 100rem;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.2);

    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .card-front {
      background-color: rebeccapurple;
    }

    .card-back {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 600;
      background-color: whitesmoke;
      // background-color: dodgerblue; // when numbers
      color: rebeccapurple;
      transform: rotateY(180deg);

      &.animals {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.animals-0 {
        background-image: url("../../assets/images/animals/0.png");
      }
      &.animals-1 {
        background-image: url("../../assets/images/animals/1.png");
      }
      &.animals-2 {
        background-image: url("../../assets/images/animals/2.png");
      }
      &.animals-3 {
        background-image: url("../../assets/images/animals/3.png");
      }
      &.animals-4 {
        background-image: url("../../assets/images/animals/4.png");
      }
      &.animals-5 {
        background-image: url("../../assets/images/animals/5.png");
      }
      &.animals-6 {
        background-image: url("../../assets/images/animals/6.png");
      }
      &.animals-7 {
        background-image: url("../../assets/images/animals/7.png");
      }
      &.animals-8 {
        background-image: url("../../assets/images/animals/8.png");
      }
      &.animals-9 {
        background-image: url("../../assets/images/animals/9.png");
      }
      &.animals-10 {
        background-image: url("../../assets/images/animals/10.png");
      }
      &.animals-11 {
        background-image: url("../../assets/images/animals/11.png");
      }
      &.animals-12 {
        background-image: url("../../assets/images/animals/12.png");
      }
      &.animals-13 {
        background-image: url("../../assets/images/animals/13.png");
      }
      &.animals-14 {
        background-image: url("../../assets/images/animals/14.png");
      }
      &.animals-15 {
        background-image: url("../../assets/images/animals/15.png");
      }

      &.items {
        background-image: url("../../assets/images/items/items.png");
        background-repeat: no-repeat;
      }

      &.items-0 {
        background-position: 0 -0.3rem;
      }
      &.items-1 {
        background-position: -9.8rem -0.3rem;
      }
      &.items-2 {
        background-position: -20rem -0.3rem;
      }
      &.items-3 {
        background-position: -29.6rem -0.3rem;
      }
      &.items-4 {
        background-position: 0 -10.3rem;
      }
      &.items-5 {
        background-position: -10.2rem -10.3rem;
      }
      &.items-6 {
        background-position: -20rem -10.3rem;
      }
      &.items-7 {
        background-position: -30rem -10.3rem;
      }
      &.items-8 {
        background-position: 0 -19.8rem;
      }
      &.items-9 {
        background-position: -10rem -19.8rem;
      }
      &.items-10 {
        background-position: -19.7rem -19.8rem;
      }
      &.items-11 {
        background-position: -29.7rem -19.8rem;
      }
      &.items-12 {
        background-position: 0 -29.8rem;
      }
      &.items-13 {
        background-position: -10.3rem -29.8rem;
      }
      &.items-14 {
        background-position: -20rem -29.8rem;
      }
      &.items-15 {
        background-position: -30rem -29.8rem;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.inactive {
    animation: rotate 1s linear 0.8s forwards;
  }

  &.selected {
    pointer-events: none;
  }

  &.selected .card-inner {
    transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.5) rotate(160deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
    visibility: hidden;
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 4px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-5deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 4px) rotate(5deg);
  }
  40% {
    transform: translate(1px, -2px) rotate(0deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-5deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(5deg);
  }
  80% {
    transform: translate(-1px, -3px) rotate(0deg);
  }
  90% {
    transform: translate(4px, 2px) rotate(-5deg);
  }
  100% {
    transform: translate(1px, -3px) rotate(0deg);
    visibility: hidden;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    visibility: hidden;
  }
}

@media (orientation: portrait) {
  .card {
    transform: scale(0.8);
  }
}
