.app {
  padding: 5rem;

  .game {
    // use grid maybe
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    height: 37rem;

    &.blocked {
      pointer-events: none;
    }
  }

  .win {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
}
