.app {
  padding: 5rem;

  .game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 17rem;
    height: 24rem;
  }

  .win {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
}
